################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Final Project/.vs/Final Project/v15
/Final Project/bin
/Final Project/obj/Debug
